{% extends "base.html" %}

{% block title %}Certificados - CertiFlow{% endblock %}

{% block content %}
<h2>Certificados</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Curso</th>
            <th>Carga Horária</th>
            <th>Pontos</th>
            <th>Arquivo</th>
        </tr>
    </thead>
    <tbody>
        {% for certificado in certificados %}
        <tr>
            <td>{{ certificado.id }}</td>
            <td>{{ certificado.qualificacao }}</td>
            <td>{{ certificado.carga_horaria }}</td>
            <td>{{ certificado.pontos }}</td>
            <td><a href="{{ url_for('uploaded_file', filename=certificado.filename) }}" target="_blank">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
