{% extends "base.html" %}

{% block title %}Certificados - CertiFlow{% endblock %}

{% block content %}
<h2 class="my-4">Certificados</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Usuário</th>
            <th>Matrícula</th>
            <th>Qualificação</th>
            <th>Protocolo</th>
            {% for certificado in certificados %}
                {% if certificado.qualificacao == "Cursos, seminários, congressos e oficinas realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                       certificado.qualificacao == "Cursos de atualização realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                       certificado.qualificacao == "Cursos de aperfeiçoamento realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                       certificado.qualificacao == "Instrutoria ou Coordenação de cursos promovidos pelo Município do Recife." %}
                    <th>Período (de)</th>
                    <th>Período (até)</th>
                    <th>Carga Horária</th>
                {% endif %}
                {% if certificado.qualificacao == "Cursos de graduação e especialização realizados em instituição pública ou privada, reconhecida pelo MEC." or
                       certificado.qualificacao == "Mestrado, doutorado e pós-doutorado realizados em instituição pública ou privada, reconhecida pelo MEC." %}
                    <th>Ano de Conclusão</th>
                {% endif %}
                {% if certificado.qualificacao == "Participação em grupos, equipes, comissões e projetos especiais, no âmbito do Município do Recife, formalizados por ato oficial." or
                       certificado.qualificacao == "Exercício de cargos comissionados e funções gratificadas, ocupados, exclusivamente, no âmbito do Poder Executivo Municipal." %}
                    <th>Ato Normativo</th>
                {% endif %}
                {% if certificado.qualificacao == "Exercício de cargos comissionados e funções gratificadas, ocupados, exclusivamente, no âmbito do Poder Executivo Municipal." %}
                    <th>Tempo (anos)</th>
                {% endif %}
            {% endfor %}
            <th>Arquivo</th>
            <th>Aprovar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for certificado in certificados %}
        <tr>
            <td>{{ certificado.usuario.nome }}</td>
            <td>{{ certificado.usuario.matricula }}</td>
            <td>{{ certificado.qualificacao }}</td>
            <td>{{ certificado.protocolo }}</td>

            {% if certificado.qualificacao == "Cursos, seminários, congressos e oficinas realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                   certificado.qualificacao == "Cursos de atualização realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                   certificado.qualificacao == "Cursos de aperfeiçoamento realizados, promovidos, articulados ou admitidos pelo Município do Recife." or
                   certificado.qualificacao == "Instrutoria ou Coordenação de cursos promovidos pelo Município do Recife." %}
                <td>{{ certificado.periodo_de.strftime('%d/%m/%Y') if certificado.periodo_de else '' }}</td>
                <td>{{ certificado.periodo_ate.strftime('%d/%m/%Y') if certificado.periodo_ate else '' }}</td>
                <td>{{ certificado.carga_horaria }}</td>
            {% endif %}

            {% if certificado.qualificacao == "Cursos de graduação e especialização realizados em instituição pública ou privada, reconhecida pelo MEC." or
                   certificado.qualificacao == "Mestrado, doutorado e pós-doutorado realizados em instituição pública ou privada, reconhecida pelo MEC." %}
                <td>{{ certificado.ano_conclusao }}</td>
            {% endif %}

            {% if certificado.qualificacao == "Participação em grupos, equipes, comissões e projetos especiais, no âmbito do Município do Recife, formalizados por ato oficial." or
                   certificado.qualificacao == "Exercício de cargos comissionados e funções gratificadas, ocupados, exclusivamente, no âmbito do Poder Executivo Municipal." %}
                <td>{{ certificado.ato_normativo }}</td>
            {% endif %}

            {% if certificado.qualificacao == "Exercício de cargos comissionados e funções gratificadas, ocupados, exclusivamente, no âmbito do Poder Executivo Municipal." %}
                <td>{{ certificado.tempo }}</td>
            {% endif %}

            <td><a href="{{ url_for('uploaded_file', filename=certificado.filename) }}" target="_blank" class="btn btn-info btn-sm">Download</a></td>
            <td>
                <form action="{{ url_for('aprovar_certificado', certificado_id=certificado.id) }}" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Aprovar</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('deletar_certificado', certificado_id=certificado.id) }}" method="post">
                    <button type="submit" class="btn btn-link">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
