{% extends "base.html" %}

{% block title %}
Progressões
{% endblock %}

{% block content %}
<div class="container content">
    <div class="rectangle-container">
        <h1>Progressões</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="error-messages" class="alert alert-danger">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="post">
            <!-- Campo para selecionar o usuário -->
            <div class="form-group">
                <label for="usuario">Nome do Usuário</label>
                <select id="usuario" name="usuario" class="form-control" onchange="updateMatricula(); this.form.submit()">
                    <option value="" {% if not usuario_selecionado %}selected{% endif %}>Selecione</option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}" data-matricula="{{ usuario.matricula }}" {% if usuario.id == usuario_selecionado %}selected{% endif %}>
                            {{ usuario.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Campo para exibir a matrícula do usuário selecionado, inicialmente oculto -->
            <div class="form-group" id="matricula-group" style="display: none;">
                <label for="matricula">Matrícula do Usuário</label>
                <input type="text" id="matricula" class="form-control" readonly>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qualificação</th>
                        <th>Pontos</th>
                        <th>Progressão</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for qualificacao, dados in progressoes.items() %}
                    <tr>
                        <td>{{ qualificacao }}</td>
                        <td>
                            <!-- Campo de Pontos agora é somente leitura para exibir os pontos do usuário -->
                            <input type="text" class="form-control" 
                                   name="pontos_{{ loop.index }}" 
                                   value="{{ dados.pontos }}" 
                                   readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control {% if errors['progressao_' ~ loop.index] %}is-invalid{% endif %}" 
                                   name="progressao_{{ loop.index }}" 
                                   value="{{ dados.progressao }}" 
                                   inputmode="numeric" 
                                   pattern="[0-9]*" 
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
                                   readonly>
                            {% if errors['progressao_' ~ loop.index] %}
                                <div class="invalid-feedback">
                                    {{ errors['progressao_' ~ loop.index] }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <!-- Campo para adicionar a quantidade de pontos a ser usada -->
                            <input type="number" class="form-control d-inline-block w-50" 
                                   name="adicionar_{{ loop.index }}" 
                                   min="0" 
                                   max="{{ dados.pontos }}" 
                                   placeholder="Pontos">
                            <button type="submit" class="btn btn-primary d-inline-block" name="botao_adicionar_{{ loop.index }}" value="{{ qualificacao }}">
                                Adicionar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Certification. All rights reserved.</p>
    </div>
</footer>

<script>
function updateMatricula() {
    const usuarioSelect = document.getElementById('usuario');
    const selectedOption = usuarioSelect.options[usuarioSelect.selectedIndex];
    const matricula = selectedOption.getAttribute('data-matricula');
    const matriculaGroup = document.getElementById('matricula-group');

    if (matricula) {
        document.getElementById('matricula').value = matricula;
        matriculaGroup.style.display = 'block';
    } else {
        matriculaGroup.style.display = 'none';
        document.getElementById('matricula').value = '';
    }
}

// Chama updateMatricula ao carregar a página para exibir a matrícula se já houver um usuário selecionado
window.onload = updateMatricula;

// Função para ocultar as mensagens de erro após 5 segundos
window.setTimeout(function() {
    const errorMessages = document.getElementById('error-messages');
    if (errorMessages) {
        errorMessages.style.display = 'none';
    }
}, 5000);
</script>
{% endblock %}
