{% extends "base.html" %}

{% block title %}Upload de Certificado - CertiFlow{% endblock %}

{% block content %}
<h2>Upload Certificate</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.curso.label(class="form-label") }}
        {{ form.curso(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.carga_horaria.label(class="form-label") }}
        {{ form.carga_horaria(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.certificate.label(class="form-label") }}
        {{ form.certificate(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}